#et-boc {
  .et-l {
    .rtcl-listings-wrapper {
      .listing-thumb {
        margin-bottom: 20px;
      }

      .rtcl-listing-title {
        a {
          color: #2a2a2a;

          &:hover {
            color: var(--rtcl-primary-color);
          }
        }
      }

      .rtcl-grid-view {

      }
    }
  }
}