.et-db .et-l .et_pb_module {
  .rtcl-divi-listing-search {
    background-color: #e1e1e1;
    padding: 25px;
    border-radius: 6px;

    .rtcl-widget-search-form {
      display: flex;
      display: -ms-flexbox;
      gap: 10px;

      & > div {
        flex: 1 1 0;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 0;
        margin: 0;
      }
    }

    .rtcl-search-input-button {
      background-color: #fff;
      color: #999;
      position: relative;
      font-size: 14px;
      border-radius: 4px;

      @media all and (max-width: 575.98px) {

      }
    }

    .form-group {
      margin: 0;
    }

    .form-control {
      border: none;
      border-radius: 0;
      background-color: transparent;
      height: 50px;
      padding: 10px 15px;
    }

    .rtcl-btn-holder {
      max-width: 130px;

      .rtcl-search-btn {
        font-size: 16px;
        font-weight: 500;
        height: 50px;
        width: 100%;
        background: var(--rtcl-button-bg-color);
        color: var(--rtcl-button-color);
        text-align: center;
        padding: 10px;
        transition: all 0.3s ease-out;
        outline: none;
        border-radius: 4px;
        border: none;

        i {
          margin-right: 8px;
        }

        &:hover {
          background: var(--rtcl-button-hover-bg-color);
          color: var(--rtcl-button-hover-color);
        }
      }
    }
  }
}